@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');   

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

    body {
        font-size: 16px;  
        height: 100vh;
        font-family: 'Montserrat'; 
        justify-content: center; 
    }

    .no-scrollbar {
        overflow-x: hidden;
    }
    
    .miniBanner {
        display: flex;
        height: 50px;
        width: 100%;
        background-color: #0099ff;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
    }

    header {
        background-color: #0000ff;
        height: 9rem;
    }

    .logo img {
        display: flex;
        align-items: center;
        width: 100px;
        height: auto;
    }

    .nav-bar {
        display: flex;
        justify-content: space-around;
        padding: 1.5rem 6rem;
        align-items: center;
        width: 100%;
        background-color: #0000ff;
    }

    .nav-list {
        display: flex;
        align-items: center;
        align-self: center;
    }

    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .nav-item {
        margin: 0 15px;
    }

    .nav-link {
        text-decoration: none;
        font-size: 1.25rem;
        color: #fff;
        font-weight: 600;
    }

    .btnLoginPosicao img {
        width: 1.7rem;
    }

    .btnCadastresePosicao img {
        width: 1.9rem;
     }

     .btnLoginPosicao {
        display: flex;
        align-items: center;
        margin-bottom: 0.65rem;
     }

     .btnCadastresePosicao {
        display: flex;
        align-items: center;
     }

     .btnLogin {
        width: 7.75rem;
        height: 1.85rem;
        background-color: yellow;
        color: #ccc;
        font-size: 14px;
        font-weight: 700;
        border-radius: 10px;
        margin-left: 0.5rem;
    }

    .btnCadastro {
        width: 7.75rem;
        height: 1.85rem;
        background-color: #fff;
        color: #ccc;
        font-size: 14px;
        font-weight: 700;
        border-radius: 10px;
        margin: 0.5rem;
    }

    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
    
    /*Barra de Pesquisa*/

    .grupoBarraPesquisa {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        background-color: #0000ff;
        padding-bottom: 2rem;
      }
      
      input {
        width: 40%;
      }

      input[type="text"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
      }
      
      button[type="submit"] {
        padding: 8px 16px;
        background-color: yellow;
        border: none;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
      }

      .grupoBarraPesquisa button img {
        width: 0.80rem;
      }

    /*Categorias*/

    .conteinerCategorias {
        display: flex;
        width: 100%;
        height: 70px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        justify-content: space-around;
        align-items: center;
    }

    .horizontal-links {
        display: flex;
        list-style: none;
        gap: 45px;
        font-weight: bold;
    }

    .horizontal-links a {
        color: black;
    }


    /*Banner Rotativo Inicial*/

    .slider {
        display: flex;
        padding-top: 50px;
        justify-content: center;
        max-width: 100%;
        height: auto;
        position: relative;
        
    }

    .slider img {
        position: absolute;
        object-fit: cover;
        opacity: 0;  
        transition: opacity 1000ms;
    }

    .slider img.selected {
        opacity: 1;
    }

    /*Sessão Sobre*/

    .sobre {
        padding-top: 22rem;
        
    }

    .conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.25rem;
    }

    .conteudo h1 {
        font-size: 38px;
        font-weight: 700;
        text-align: center;
    }

    .conteudo p {
        font-size: 20px;
        font-weight: 800;
        width: 65%;
        text-align: center;
        color: rgb(120, 120, 120);
        padding-bottom: 45px;
    }

    .alinharImgs {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .alinharImgTxt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    .alinharImgTxt img {
        width: 6.25rem;
        height: auto;
    }

    .alinharImgTxt h3 {
        font-size: 22px;
        text-align: center;
    }

    .conteudo button {
        background-color: #0099ff;
        -webkit-box-shadow: 12px 7px 25px 3px rgba(0,0,0,0.5); 
        box-shadow: 12px 7px 25px 3px rgba(0,0,0,0.5);
        border-radius: 15px;
        width: 315px;
        height: 85px;
        font-size: 28px;
        font-weight: 700;
        border-style: none;
        margin-top: 2.5rem;
    }

    .conteudo a {
        color: #fff; 
    }

    /*Sessão Banners Semanais*/

    .bannerPromoSemanal {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 7rem;  
    }

    .bannerPromo1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 330px;
        height: 170px;
        background-color: aqua;
        border-radius: 10px; 
    }

    .bannerPromo2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 330px;
        height: 170px;
        background-color: blueviolet;
        border-radius: 10px;
    }

    .bannerPromo3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 330px;
        height: 170px;
        background-color: #0000ff;
        border-radius: 10px; 
    }

    .bannerPromo1 p {
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        text-align: center; 
    }

    .bannerPromo2 p {
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        text-align: center; 
    }

    .bannerPromo3 p {
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        text-align: center; 
    }

    /*Sessão Cards Profissionais*/

   .cardsProfissionais {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    /*Banner Secundario*/

    .bannerRotativoSecundario {
        display: flex;
        height: 25rem;
        align-items: center;
        justify-content: center;
    }

    .slider2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 5rem;
        position: relative;
    }

    .slider2 img {
        position: absolute;
        object-fit: cover;
        opacity: 0;  
        transition: opacity 1000ms;
    }

    .slider2 img.selected2 {
        opacity: 1;
    }

    /*Links Rodapé*/

    .linksRodape {
        padding-top: 6.10rem;
    }

  .conteinerLinksRodape {
        display: flex;
        width: 100%;
        height: 2.5rem;
        background-color: black;
        justify-content: center;
        align-items: center;
        gap: 55px; 
    }

    .conteinerLinksRodape a {
        color: #fff;
        font-size: 1.375rem;
        font-weight: 700;
    }

    /*Rodapé*/

    .rodape {
        padding-top: 154rem;
    }

    .conteinerRodape {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        height: 12.75rem;
        background-color: gray; 
    }

    .conteinerRodapeConteudo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 3.50rem;
    }

    .conteinerRodape ul li {
        list-style: none;
        width: 100%;
        line-height: 1.65rem;
    }

    .conteinerRodape nav ul {
        display: flex; 
        flex-direction: column; 
        width: 100%;
        text-align: left;
        justify-content: space-around;
        align-items: center;    
    }

    .conteinerRodape li a {
        color: #fff;
        font-size: 1.25rem;
        font-weight: 700;
    }

    .conteinerRodape h1 {
        display: flex;
        text-align: right;
    }

    .copy-info {
        display: flex;
        color: #fff;
        font-weight: 500;
        background-color: gray;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        height: 4rem;
    }


 



